<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}OFFLINER{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{  asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{  asset('assets/css/offlinerSignIn.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('assets/ico/favicon.ico') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body ng-app="offlinerSignInApp" ng-controller="mainCtrl">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage')  }}">OFFLINER</a>
            <div class="nav-collapse collapse">
                {{ knp_menu_render('main') }}
            </div><!--/.nav-collapse -->
            <div class="pull-right">
                {% block global_stat %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block header %}

{% endblock %}
<div class="container">
    {% block data %}

    {% endblock %}
</div>
<footer class="modal-footer navbar-fixed-bottom">
    {% block footer %}
        &copy; istrelnikov.dev.thumbtack.net 2013
    {% endblock %}
</footer>
<script src="{{ asset('assets/js/libs/angular.js') }}"></script>
<script src="{{ asset('assets/js/libs/ui-bootstrap-tpls-0.5.0.js') }}"></script>
<script src="{{ asset('assets/js/offlinerSignInApp.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
