<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}tt.CV-maker.bench!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

            <!-- Le styles -->
            <link href="{{  asset('assets/css/bootstrap.css') }}" rel="stylesheet">
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                }
                @font-face {
                    font-family: 'CVcustomFont';
                    src: url("{{ asset('assets/font/SAMBD.ttf') }}");
                }
                .navbar{
                    font-family: 'CVcustomFont';
                    font-size: 20pt;
                }
                #login{
                    float: right;
                }

            </style>
            <link href="{{  asset('assets/css/bootstrap-responsive.css') }}" rel="stylesheet">

            <!-- Fav and touch icons -->
               <link rel="shortcut icon" href="{{ asset('assets/ico/favicon.png') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('homepage')  }}">CV-maker-webapp-bench-project</a>
                <div class="nav-collapse collapse">
                    {{ knp_menu_render('main') }}

                </div><!--/.nav-collapse -->
                <a class="brand" href="{{ path('logout') }}" id="login">{% block login_place %}{% endblock %}</a>
            </div>
        </div>
    </div>
     <div class="container">
         {% block data %}{% endblock %}
         <footer>
             {% block footer %}{% endblock %}
             <p>&copy; tt.istrelnikov 2013</p>
         </footer>
     </div>

    <script src="{{ asset('assets/js/libs/angular.js') }}"></script>
    <script src="{{ asset('assets/js/libs/ui-bootstrap-tpls-0.5.0.js') }}"></script>
    <script src="{{ asset('assets/js/libs/ckeditor/ckeditor.js') }}"></script>
    {% block javascripts %}{% endblock %}
    {% block modals %}{% endblock %}
    </body>
</html>

